.list-view {
    -fx-padding: 10px;
    -fx-font-family: "monospace";
}

.vbox, .list-view, .tab-pane, .h-box, .button {
    -fx-background-color: #00FF00;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #38b000;
    -fx-text-fill: #9ef01a;
}

.list-cell:odd {
    -fx-background-color: #ccff33;
}

.list-cell:even {
    -fx-background-color: #70e000;
}